@charset "UTF-8";

.title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4rem;
}

.display_flex {
    display: flex;
    margin-bottom: 8rem;
}

.order_right {
    order: 0;
}
.order_left {
    order: 2;
}

.center_circle {
    color: floralwhite;
    font-weight: 600;
    background-color: pink;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    order: 1;
    position: relative;
    z-index: 100;
}
.center_circle::before{
    content:"";
    display:inline-block;
    width:.5rem;
    height:51rem;
    background-color: pink;
    position:absolute;
    top: 5rem;
    left: 2.2rem;
    z-index: 200;
 }


.txt_area {
    color: #333;
    font-weight: bold;
    background-color: beige;
    width: calc(50vw - 2.5rem);
    height: 10rem;
}

.real_txt_area {
    color: #333;
    font-weight: bold;
    background-color: rgb(230, 228, 228);
    width: calc(50vw - 7rem);
    height: 6rem;
    margin-left: 1.5rem;
}

.img_area {
    color: #333;
    font-weight: bold;
    background-color: cadetblue;
    width: calc(50vw - 2.5rem);
    height: 10rem;
}

.real_img_area {
    color: #333;
    font-weight: bold;
    background-color: rgb(97, 200, 204);
    width: calc(50vw - 7.5rem);
    height: 6.5rem;
    margin-left: 1rem;
}

/* スクロールCSS */
.fade-in {
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
  }
  
  .fade-in-up {
    transform: translate(0, 50px);
  }
  
  .fade-in-down {
    transform: translate(0, -50px);
  }
  
  .fade-in-left {
    transform: translate(-50px, 0);
  }
  
  .fade-in-right {
    transform: translate(50px, 0);
  }
  
  .scroll-in {
    opacity: 1;
    transform: translate(0, 0);
  }